@model FitnessTracker.Models.Goal

@{
    ViewData["Title"] = "Create";
}

<h1>Set a new goal!</h1>

<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="StartDate" value="@DateTime.Now.Date" class="form-control" />
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Target" class="control-label">Amount of time you want to be active for this goal (in minutes)</label>
                <input asp-for="Target" class="form-control" min="0"/>
                <span asp-validation-for="Target" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="Index">Back</a>
</div>

